<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>license and registration</title>
	{% load static %}
<!-- 	update ourApp below -->
	<link rel="stylesheet" type="text/css" href="{% static 'ourApp/css/main.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="wrapper">
		{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
		</ul>
		{% endif %}

		<h1>~ register ~</h1>
		<form action='/login_and_registration/register/' method='POST'>{% csrf_token %}
			<p><label for='first_name'>first name</label><input type='text' name='first_name' id='first_name'></p>
			<p><label for='last_name'>last name</label><input type='text' name='last_name' id='last_name'></p>
			<p><label for='email'>email</label><input type='text' name='email' id='email'></p>
			<p><label for='password'>password</label><input type='password' name='password' id='password'></p>
			<p><label for='confirm_password'>confirm password</label><input type='password' name='confirm_password' id='confirm_password'></p>
			<input class='submit' type='submit' value='~ ~ ~'>
		</form>

		<h1>~ login ~</h1>
		<form action='/login_and_registration/login/' method='POST'>{% csrf_token %}
			<p><label for='email'>email</label><input type='text' name='email' id='email'></p>
			<p><label for='password'>password</label><input type='password' name='password' id='password'></p>
			<input class='submit' type='submit' value='~ ~ ~'>
		</form>
	</div>
</body>
</html>

